/* Dark mode theme using CSS variables */
:root {
    --common-bg-color: #161b22; /* Dark background color for the overall page */
    --text-color: #c9d1d9; /* Light text color */
    --hover-color: #58a6ff; /* Link hover color */
    --table-bg-color: #1e1e1e; /* Dark background for the table */
    --thead-bg-color: #333333; /* Darker background for table headers */
    --thead-text-color: #c9d1d9; /* Light text color for table headers */
    --odd-row-bg-color: #2d2d2d; /* Dark gray background for odd rows */
    --even-row-bg-color: #1e1e1e; /* Darker background for even rows */
    --hover-row-bg-color: #2d2d2d; /* Dark gray background for row on hover */
    --border-color: #444444; /* Darker border color */
    --selection-bg-color:#c9d1d9;
    --selection-text-color:#fff;
}

/* ---------Custom Scroll bar----------- */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 10px;    
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}
