/* Import common styles */
@import url('./common.css');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--common-bg-color);
}

::selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
}

html, body {
    height: 100%;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--common-bg-color);
}


/* Contact Section */
.contact {
    position: relative;
    min-height: 89vh;
    padding: 38px 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--common-bg-color);
    color: var(--text-color);
    margin-top: 80px;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 60px;
}

.contact .content p {
    font-weight: 300;
    color: var(--text-color);
    margin-top: 10px;
}

/* Container Styles */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.container .contactInfo {
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.container .contactInfo .box .icon {
    min-width: 50px;
    height: 50px;
    /* background: #f0ece2; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    /* color: gray; */
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #332f2c;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: var(--text-color);
}

/* Contact Form Styles */
.contactForm {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background: var(--common-bg-color);

    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 4);
}

.contactForm h2 {
    font-size: 30px;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
}


a{
    color:#007BFF;
    text-decoration: none;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid var(--text-color);
    outline: none;
    resize: none;
    border-radius: 5px;
    margin-top: 20px;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: var(--hover-color);
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
}

.contactForm .inputBox input[type="submit"]:hover {
    background-color: #333;
}

/* Media Queries */
@media (max-width: 991px) {
    .contact {
        padding: 20px;
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    .contactForm,
    .container .contactInfo {
        width: 88%;
        max-width: none;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .contact {
        padding: 20px 10px;
    }

    .contact .content h2 {
        font-size: 40px;
        margin-top: 2rem;
    }

    .contact .content p {
        font-size: 22px;
        margin: 12px;
    }

    .contactForm h2 {
        font-size: 24px;
    }

    .contactForm .inputBox input,
    .contactForm .inputBox textarea {
        font-size: 14px;
    }

    .contactForm .inputBox input[type="submit"] {
        width: 80px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .contact {
        padding: 10px 5px;
    }

    .contact .content h2 {
        font-size: 36px;
        margin-top: 2rem;
    }

    .contactForm h2 {
        font-size: 20px;
    }

    .contactForm .inputBox input,
    .contactForm .inputBox textarea {
        font-size: 12px;
    }

    .contactForm .inputBox input[type="submit"] {
        width: 70px;
        font-size: 18px;
    }
}
