<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <title>{% block title %}{% endblock title%} | Github Visitor Info</title>
</head>
<body>
    {% comment %} # Navigation bar {% endcomment %}

    {% include "navbar.html" %}

    {% block body %}{% endblock body %}

    {% comment %} # Footer {% endcomment %}

    {% include "footer.html" %}
</body>
</html>