{% extends "base.html" %}
{% block title %}Dashboard {% endblock title %}
{% block body %}
<link rel="stylesheet" href="/static/css/dashboard.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<span class="welcome-msg">Welcome Back , <strong class="strong">{{request.session.github_username}}</strong></span>
<br><br><br>

<label for="total-visit" class="total-visit-label">Total Visits  :  </label>
<span class="total-visit">{{total_visits}}</span>

{% endblock body %}