
<link rel="stylesheet" href="/static/css/footer.css">
<script src="https://kit.fontawesome.com/36d72e7e2f.js" crossorigin="anonymous"></script>
<footer>
    <div class="footer">
        <div class="row">
            <div class="col-md-6">
                <ul class="footer-links">
                    <li><a href="/termsandconditions/">Terms and Conditions</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/example"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com/example"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/example"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

