<link rel="stylesheet" href="/static/css/navbar.css">



<nav class="navbar">
    <div class="navbar-brand">
        <a href="/"></a>
    </div>
    {% comment %} <input type="checkbox" id="navbar-toggle"> {% endcomment %}
    {% comment %} <label for="navbar-toggle" class="navbar-toggle-label">
        <span></span>
        <span></span>
        <span></span>
    </label> {% endcomment %}
    <ul class="navbar-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
