<link rel="stylesheet" href="/static/css/navbar.css">

<nav class="navbar">
    <span class="main-navbar-title">
        <a href="/" class="main-navbar-title-link">Github Visits Insights</a>
    </span>
    <input type="checkbox" id="navbar-toggle">
    <label for="navbar-toggle" class="navbar-toggle-label">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div class="navbar-popup">
        <button class="close-btn">&times;</button>
        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about-us/">About</a></li>
            <li><a href="/contact-us/">Contact</a></li>
            {% if request.session.email %}
            <li><a href="/home/">Dashboard</a></li>
            <li><a href="/auth/logout/">Logout</a></li>
            {% else %}
            <li><a href="/auth/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<script>
    // JavaScript to handle close button functionality
    document.querySelector('.close-btn').addEventListener('click', function() {
        document.getElementById('navbar-toggle').checked = false;
    });
</script>
