/* privacy_policy.css */
@import url('./common.css');
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--common-bg-color);
    margin: 0;
    padding: 0;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--common-bg-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
}

h2 {
    font-size: 24px;
    color: var(--text-color);
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}

ul {
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

